.carousel-image {
    height: 84vh;
    
    /* Alineacion Vertical de contenido  */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    /* background-position: center center; */
    background-repeat: no-repeat; 

    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;

}


/* Puntos del Carrusel: Posicion */
.slick-dots {
    bottom: 10.88vh ;

}



.carousel-content {
    margin-left: 5vw;
    margin-right: 5vw;
}


.carousel-title {
    font-family: 'Oswald', sans-serif !important;
    font-size: 30px;
    color: #5d5F5F;
    line-height: 33px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}


.carousel-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #5d5F5F;
    line-height: 28px;
}


/* Boton de login provoca un scroll bar horizontal */
.navbar-right {
    margin-right: -0px !important;
}

/* Temporal, hasta eliminar desde drupal el boton de login */
.menu--account {
    display: none !important;
}

/* Provoca un margen indeseado en la imagen */
.slide__caption {
    padding: 0px;
}


/* Puntos del Carrusel: Tamano */
.slick-dots li button::before {
    font-size: 1.4rem;
}

.down-arrow {
    position: absolute;
    bottom: 2vh;
}





/* responsive */

@media (max-width: 640px) {
	.carousel-image {
        height:79vh;
        padding-top: 17.8rem;
        background-size: contain;       
	}
    .slick-dots {        
        bottom: -2.2vh ;    
    }

    .carousel-title {  
        font-size: 20px;
    }    
    .carousel-text {
        font-size: 16px;
    }

    .carousel-content {
        text-align: center;
    }
}

/* ---------------------------------------------------------------------------------------------------- */
/*    Analizar                                                                                          */
/* ---------------------------------------------------------------------------------------------------- */
/* agrega un margen en el area superior, que no esta presente en https://www.britishsandwichfactory.com/ */
body {
    margin-top: 0px !important;
}

/* ---------------------------------------------------------------------------------------------------- */
/*  FIN:   Analizar                                                                                          */
/* ---------------------------------------------------------------------------------------------------- */
