.carousel-image {
    height: 81vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}



.carousel-content {
    margin-left: 5vw;
    margin-right: 5vw;
}


.carousel-title {
    font-family: 'Oswald', sans-serif!important;
    font-size: 30px;
    color: #5d5F5F;
    line-height: 33px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    /* line-height: 1.1; */
}


.carousel-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #5d5F5F;
    line-height: 28px;
}


/* Boton de login provoca un scroll bar horizontal */
.navbar-right {
    margin-right: -0px !important;
}

/* Temporal, hasta eliminar desde drupal el boton de login */
.menu--account {
    display: none !important;
}

/* Provoca un margen indeseado en la imagen */
.slide__caption {
    padding: 0px;
}

/* Puntos del Carrusel: Posicion */
.slick-dots {
    /* bottom: 68px!important; */
    bottom: 10.88vh!important; 
    
}

/* Puntos del Carrusel: Tamano */
.slick-dots li button::before {
    font-size: 1.4rem;
}

.down-arrow  {
    position: absolute;
    bottom: 2vh;
}

/* agrega un margen en el area superior, que no esta presente en https://www.britishsandwichfactory.com/ */
.body {
 
        margin-top: 0px!important;
 
}